{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ partial "page-heading.html" . }}
            <div class="markdown">
                {{ .Content }}
            </div>
            <nav class="section-items">
                <ul>
                {{ range sort .Data.Pages.Reverse }}
                    <li><a {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ default .Title .Params.heading }}</a></li>
                {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
