{{ partial "footer_scripts" . }}

<div id='footer'>
  <div class='grid-wrapper'>
    <div class='grid-container'>
      <h2>
        Minimum Viable
        <span>
          Magic
          <sup>&#8482;</sup>
        </span>
      </h2>
      <ul class='offices'>
        <li>
          <address class='vcard'>
            <h3 class='type'>Finland</h3>
            <p class='street-address'>Merimiehenkatu 29</p>
            <p>
              <span class='postal-code'>00150</span>
              <span class='locality'>Helsinki</span>
            </p>
            <p class='tel'>
              <a href="tel:+358405850800">+358 40 585 0800</a>
            </p>
            <p class='email'>
              <a href="mailto:finland@dka.io">finland@dka.io</a>
            </p>
          </address>
        </li>
        <li>
          <address class='vcard'>
            <h3 class='type'>Poland</h3>
            <p class='street-address'>ul. Skarbowców 23a</p>
            <p>
              <span class='postal-code'>53-025</span>
              <span class='locality'>Wrocław</span>
            </p>
            <p class='tel'>
              <a href="tel:+48504166579">+48 504 166 579</a>
            </p>
            <p class='email'>
              <a href="mailto:poland@dka.io">poland@dka.io</a>
            </p>
          </address>
        </li>
        <li>
          <address class='vcard'>
            <h3 class='type'>Germany</h3>
            <p class='street-address'>Dunckerstraße 2A</p>
            <p>
              <span class='postal-code'>10437</span>
              <span class='locality'>Berlin</span>
            </p>
            <p class='tel'>
              <a href="tel:+4917682465930">+49 176 824 659 30</a>
            </p>
            <p class='email'>
              <a href="mailto:germany@dka.io">germany@dka.io</a>
            </p>
          </address>
        </li>
      </ul>
    </div>
  </div>
</div>
